@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Source Serif 4';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/sourceserif4latin400normalsubset.eot');
    src:
      url('/fonts/sourceserif4latin400normalsubset.eot')
        format('embedded-opentype'),
      url('/fonts/sourceserif4latin400normalsubset.woff2') format('woff2'),
      url('/fonts/sourceserif4latin400normalsubset.woff') format('woff'),
      url('/fonts/sourceserif4latin400normalsubset.ttf') format('truetype'),
      url('/fonts/sourceserif4latin400normalsubset.svg#sourceserif4latin400normalsubset')
        format('svg');
  }

  @font-face {
    font-family: 'Source Serif 4';
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/sourceserif4latin600normalsubset.eot');
    src:
      url('/fonts/sourceserif4latin600normalsubset.eot')
        format('embedded-opentype'),
      url('/fonts/sourceserif4latin600normalsubset.woff2') format('woff2'),
      url('/fonts/sourceserif4latin600normalsubset.woff') format('woff'),
      url('/fonts/sourceserif4latin600normalsubset.ttf') format('truetype'),
      url('/fonts/sourceserif4latin600normalsubset.svg#sourceserif4latin600normalsubset')
        format('svg');
  }

  @font-face {
    font-family: 'Source Serif 4';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/sourceserif4latin700normalsubset.eot');
    src:
      url('/fonts/sourceserif4latin700normalsubset.eot')
        format('embedded-opentype'),
      url('/fonts/sourceserif4latin700normalsubset.woff2') format('woff2'),
      url('/fonts/sourceserif4latin700normalsubset.woff') format('woff'),
      url('/fonts/sourceserif4latin700normalsubset.ttf') format('truetype'),
      url('/fonts/sourceserif4latin700normalsubset.svg#sourceserif4latin700normalsubset')
        format('svg');
  }

  html {
    @apply bg-white font-sourceSerif4 transition-colors duration-200;
  }
  html.dark {
    @apply bg-gray-900;
  }

  body {
    @apply text-gray-800;
  }
  body.dark,
  .dark body {
    @apply text-white text-opacity-80;
  }
  body ::selection {
    @apply bg-pink-700 text-white;
  }
  body ::selection a {
    @apply text-blue-700;
  }
}

@layer utility {
  /*Add any custom utility classes here*/
  @keyframes gradient-animation {
    0% {
      background-position: 0 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animated-gradient-text {
    background: linear-gradient(90deg, #ff0099, #493240, #f3f315, #ff0099);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-animation 10s linear infinite;
  }

  /*FOR DEV*/
  .callout {
    @apply bg-yellow-400 bg-opacity-10 outline-dashed outline-4 outline-orange-500;
  }

  /*TOOLTIP*/
  .tooltip {
    @apply relative;
  }
  .tooltip .tooltip-text {
    @apply absolute left-1/2 top-full z-50 rounded-sm bg-slate-900 bg-opacity-80 px-2 py-1 text-center text-xs text-white opacity-0 transition-opacity dark:bg-white dark:text-black;
    transform: translate(-50%, -16px);
    visibility: hidden;
  }
  .tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }

  /*ANIMATED LINK UNDERLINE*/
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#7e22ce, #581c87);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
  }
  .link-underline.link-underline--small {
    background-size: 0 1px;
  }
  .dark .link-underline {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
  }
  .link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%;
  }
  .link-underline.link-underline--small:hover {
    background-size: 100% 1px;
  }
  /*Highlighting*/
  .highlight {
    @apply bg-yellow-500 bg-opacity-50 px-0.5 font-semibold text-gray-800 dark:text-white;
  }
  .highlight code {
    @apply bg-yellow-500 bg-opacity-50;
  }
}

@layer components {
  /*COLOR MODE TOGGLE*/
  .color-mode-toggle .toggle {
    background: linear-gradient(to bottom, #6ec8ff, #1f73a7);
    border-radius: 9999px;
    box-shadow: 6px 6px 10px #0000003d;
    cursor: pointer;
    height: 80px;
    overflow: hidden;
    position: relative;
    width: 200px;
  }
  .color-mode-toggle .mountains {
    background-color: #1d7371;
    clip-path: polygon(
      0% 80%,
      25% 50%,
      40% 70%,
      60% 35%,
      65% 45%,
      80% 20%,
      100% 80%,
      100% 100%,
      0% 100%
    );
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100%;
    z-index: 3;
  }
  .color-mode-toggle .cloud {
    background-color: rgb(255, 255, 255);
    border-radius: 9999px;
    filter: opacity(0.5);
    height: 8px;
    left: 10%;
    position: absolute;
    top: 20%;
    width: 18px;
  }
  .color-mode-toggle .sea {
    background: linear-gradient(
      to bottom,
      #3f75cc,
      #06063b,
      #06063b,
      #06063b,
      #06063b
    );
    border-radius: 50%;
    bottom: -500%;
    height: 200px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
    width: 300%;
  }
  .color-mode-toggle .sea::before {
    background-color: rgba(254, 254, 254, 0.34);
    content: '';
    filter: blur(5px);
    height: 25px;
    left: 43%;
    position: absolute;
    top: 2%;
    width: 15px;
  }
  .color-mode-toggle .star {
    background-color: #fff;
    border-radius: 50%;
    filter: blur(0.8px);
    height: 2px;
    position: absolute;
    right: 15%;
    top: -50%;
    transition: all 0.5s ease-in-out;
    width: 2px;
  }
  .color-mode-toggle .star::before {
    background-color: #fff;
    border-radius: 50%;
    content: '';
    height: 100%;
    position: absolute;
    right: 20px;
    top: -50%;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  .color-mode-toggle .star::after {
    background-color: #fff;
    border-radius: 50%;
    content: '';
    height: 100%;
    position: absolute;
    right: -20px;
    top: 10px;
    transition: all 0.5s ease-in-out;
    width: 100%;
  }

  .color-mode-toggle .cloud::before {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    content: '';
    height: 10px;
    position: absolute;
    right: 50%;
    top: -50%;
    transform: translateX(50%);
    width: 10px;
  }

  .dark .color-mode-toggle checkbox + .toggle {
    background: linear-gradient(to bottom, #036daf, #003d63);
  }

  .color-mode-toggle .toggle::before {
    background-color: #ffd34d;
    border-radius: 50%;
    box-shadow: 0 0 15px #fef95fc3;
    content: '';
    height: 40px;
    position: absolute;
    right: 30%;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 40px;
  }

  .color-mode-toggle .toggle::after {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffffff88;
    content: '';
    height: 35px;
    left: -60%;
    position: absolute;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 35px;
  }

  .dark .color-mode-toggle .toggle::before {
    transform: translateX(280%);
  }

  .dark .color-mode-toggle .toggle::after {
    transform: translateX(480%);
  }

  .dark .color-mode-toggle .toggle .mountains {
    background-color: #05021a;
    transform: translateY(100%);
  }
  .dark .color-mode-toggle .toggle .sea {
    background-color: #05021a;
    bottom: -210%;
  }
  .dark .color-mode-toggle .toggle .star {
    transform: rotate(10deg);
    top: 20%;
  }

  .color-mode-toggle.no-motion,
  .color-mode-toggle.no-motion .star::after,
  .color-mode-toggle.no-motion .star::before,
  .color-mode-toggle.no-motion .star,
  .color-mode-toggle.no-motion .toggle::before,
  .color-mode-toggle.no-motion .toggle::after,
  .color-mode-toggle.no-motion .mountains,
  .color-mode-toggle.no-motion .sea {
    transition: none;
  }

  /*BLOG POST*/
  .blog-post {
  }
  .blog-post h1,
  .blog-post h2,
  .blog-post h3,
  .blog-post h4,
  .blog-post h5,
  .blog-post h6 {
    @apply relative font-bold text-gray-700 dark:text-gray-200;
  }
  .blog-post h1:hover .anchor,
  .blog-post h2:hover .anchor,
  .blog-post h3:hover .anchor,
  .blog-post h4:hover .anchor,
  .blog-post h5:hover .anchor,
  .blog-post h6:hover .anchor {
    @apply scale-100 opacity-80;
  }
  .blog-post h2 {
    @apply mb-4 mt-8 text-2xl;
  }
  .blog-post h3 {
    @apply mb-2 mt-5 text-xl;
  }
  .blog-post p {
    @apply my-5 text-gray-800 dark:text-gray-100;
  }
  .blog-post small {
    @apply my-2 inline-block leading-tight;
  }
  .blog-post blockquote {
    @apply my-4 border-l-4 border-purple-800 pl-3 italic dark:border-purple-300;
  }
  .blog-post blockquote p {
    @apply my-5 pl-3;
  }
  .blog-post blockquote p strong {
    @apply bg-none;
  }
  .blog-post .anchor {
    @apply absolute left-[-1.25rem] top-2 block h-[18px] w-[18px] scale-90 text-blue-500 opacity-30 transition group-hover:opacity-100;
  }
  .blog-post a:not(.anchor) {
    @apply link-underline text-purple-700 hover:text-purple-800 dark:text-purple-300;
    font-weight: bold;
    position: relative;
    text-decoration: none;
  }
  .blog-post abbr {
    @apply cursor-help;
    text-underline-offset: 2px;
  }
  .blog-post strong:not(li strong) {
    @apply highlight;
  }
  .blog-post figure:not([data-rehype-pretty-code-figure]) {
    @apply mt-2 rounded bg-gray-100 p-1 transition dark:bg-gray-700;
  }
  .blog-post figcaption {
    @apply pt-1 text-sm leading-tight text-gray-600 transition-colors dark:text-gray-300;
  }
  .blog-post figure:not([data-rehype-pretty-code-figure]):hover {
    @apply bg-gray-300 dark:bg-gray-700;
  }
  .blog-post figure:not([data-rehype-pretty-code-figure]):hover figcaption {
    @apply text-gray-700 dark:text-gray-200;
  }
  .blog-post img {
    @apply inline-block aspect-video w-full max-w-full bg-gradient-to-r from-indigo-200 to-yellow-100 text-center font-sourceSerif4 text-xs italic leading-loose text-gray-600 outline-gray-300;
  }
  .dark .blog-post img {
    @apply from-slate-900 to-slate-700;
  }
  .blog-post img::before {
    @apply block bg-gray-200 p-2;
  }
  .blog-post img::after {
    content: ' (Image did not load)';
    display: block;
  }
  .blog-post ol {
    @apply list-decimal pl-8;
  }
  .blog-post ul {
    @apply list-disc pl-8;
  }
  .blog-post ul li::marker {
    @apply rotate-45;
  }
  .blog-post iframe {
    @apply mt-5 w-full;
    height: 600px;
  }
  .blog-post hr {
    @apply fancy;
  }
  .blog-post input[type='checkbox'] {
    @apply mt-0.5 shrink-0 rounded border-gray-200 text-blue-600 focus:ring-blue-500 disabled:pointer-events-none disabled:opacity-70 dark:border-gray-700 dark:bg-gray-800 dark:checked:border-blue-500 dark:checked:bg-blue-500 dark:focus:ring-offset-gray-800;
  }
  .blog-post input[type='checkbox'][checked] {
    @apply border-red-500 bg-red-500;
  }
  /*Table*/
  .blog-post .ret-table-wrapper {
    @apply overflow-x-auto;
  }
  .blog-post table {
    @apply border-collapse border border-gray-200;
  }
  .blog-post thead th {
    @apply border-b-2 border-gray-200 bg-gray-50 px-4 py-2 text-left text-sm font-bold text-gray-700;
    width: 300px;
  }
  .blog-post tbody td {
    @apply border-b border-gray-200 px-4 py-2 text-sm text-gray-900;
  }
  .blog-post tbody tr:hover {
    @apply bg-gray-50;
  }
  /*Code highlight support*/
  .blog-post pre {
    @apply overflow-x-auto rounded border-gray-200 dark:border-gray-900;
    font-size: 80%;
  }
  .dark .blog-post pre {
    scrollbar-color: #394150 #121826;
  }
  .blog-post pre [data-line] {
    padding: 0 1rem;
  }
  .blog-post kbd,
  .blog-post :not(pre) > code {
    @apply relative m-0 rounded-sm bg-gray-200 font-semibold text-gray-700 dark:bg-gray-700 dark:text-gray-200;
    font-size: 80%;
    padding: 0.1em 0.4em;
  }
  .blog-post code[data-theme*=' '],
  .blog-post code[data-theme*=' '] span {
    color: var(--shiki-light);
  }
  .blog-post pre {
    background-color: var(--shiki-light-bg);
  }
  .blog-post pre code span[data-highlighted-line] {
    @apply bg-white bg-opacity-10;
  }
  .blog-post code > [data-line]::before {
    @apply mr-4 inline-block pl-1 text-right text-gray-500;
    content: counter(line);
    counter-increment: line;
  }
  .blog-post code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
  }
  .blog-post code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
  }
  .blog-post code {
    @apply rounded pt-3;
    counter-reset: line;
  }
  .blog-post pre code > [data-line]::before {
    @apply mr-4;
  }
  .blog-post pre code > span:first-of-type {
    @apply rounded-t;
  }
  .blog-post pre code > span:last-of-type {
    @apply rounded-b pb-3;
  }
  .blog-post code {
    counter-reset: line;
  }
  .blog-post code[data-line-numbers] {
    counter-reset: line;
    & > .line::before {
      counter-increment: line;
      content: counter(line);
      margin-right: 1.5rem;
      display: inline-block;
      width: 24px;
      user-select: none;
      text-align: right;
      color: #a0aec0;
    }
  }
  .blog-post code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }
  .blog-post code[data-line-numbers-max-digits='2'] > [data-line]::before {
    width: 2rem;
  }
  .blog-post code[data-line-numbers-max-digits='3'] > [data-line]::before {
    width: 3rem;
  }
  .blog-post [data-rehype-pretty-code-figure] {
    @apply mt-5;
  }
  .blog-post [data-highlighted-chars],
  .blog-post [data-chars-id] {
    @apply rounded border-b-2 p-1;
    border-bottom-color: rgb(202 138 4 / var(--tw-border-opacity));
    background-color: #854d0e80;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, '0 0 #0000'), var(--tw-shadow);
  }
  .blog-post [data-chars-id='a'] {
    border-bottom-color: rgb(219 39 119 / var(--tw-border-opacity));
    background-color: #9f123980;
    color: rgb(249 168 212 / var(--tw-text-opacity)) !important;
  }
  .blog-post [data-chars-id='b'] {
    border-bottom-color: rgb(202 138 4 / var(--tw-border-opacity));
    background-color: #854d0e80;
    color: rgb(253 224 71 / var(--tw-text-opacity)) !important;
  }
  .blog-post [data-chars-id='c'] {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(147 51 234 / var(--tw-border-opacity));
    background-color: #6b21a880;
    font-weight: 700;
    --tw-text-opacity: 1 !important;
    color: rgb(233 213 255 / var(--tw-text-opacity)) !important;
  }
  .blog-post [data-chars-id='d'] {
    border-bottom-color: rgb(20 150 80 / var(--tw-border-opacity));
    background-color: #16653480;
    color: rgb(153 255 204 / var(--tw-text-opacity)) !important;
  }
  .blog-post [data-chars-id='e'] {
    border-bottom-color: rgb(25 118 210 / var(--tw-border-opacity));
    background-color: #1e3a5f80;
    color: rgb(173 216 230 / var(--tw-text-opacity)) !important;
  }
  .blog-post [data-chars-id='f'] {
    border-bottom-color: rgb(204 85 0 / var(--tw-border-opacity));
    background-color: #cc550080;
    color: rgb(255 178 102 / var(--tw-text-opacity)) !important;
  }
  .blog-post [data-chars-id='g'] {
    border-bottom-color: rgb(255 215 0 / var(--tw-border-opacity));
    background-color: #9b870c80;
    color: rgb(255 248 220 / var(--tw-text-opacity)) !important;
  }

  /*Color chip support*/
  .blog-post .gfm-color-chip {
    @apply inline-block rounded-full border border-gray-700;
    height: 0.625rem;
    margin-left: 0.125rem;
    width: 0.625rem;
  }

  /*External links*/
  .blog-post a[rel='nofollow']::after {
    @apply relative top-[1px] inline-block w-5 scale-75 pl-1 transition-transform;
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KICAgIDxwYXRoIGZpbGw9InJnYigzNCwgOTgsIDE2MSkiIGQ9Ik0zMjAgMGMtMTcuNyAwLTMyIDE0LjMtMzIgMzJzMTQuMyAzMiAzMiAzMmg4Mi43TDIwMS40IDI2NS40Yy0xMi41IDEyLjUtMTIuNSAzMi44IDAgNDUuM3MzMi44IDEyLjUgNDUuMyAwTDQ0OCAxMDkuM1YxOTJjMCAxNy43IDE0LjMgMzIgMzIgMzJzMzItMTQuMyAzMi0zMlYzMmMwLTE3LjctMTQuMy0zMi0zMi0zMkgzMjB6TTgwIDMyQzM1LjggMzIgMCA2Ny44IDAgMTEyVjQzMmMwIDQ0LjIgMzUuOCA4MCA4MCA4MEg0MDBjNDQuMiAwIDgwLTM1LjggODAtODBWMzIwYzAtMTcuNy0xNC4zLTMyLTMyLTMycy0zMiAxNC4zLTMyIDMyVjQzMmMwIDguOC03LjIgMTYtMTYgMTZIODBjLTguOCAwLTE2LTcuMi0xNi0xNlYxMTJjMC04LjggNy4yLTE2IDE2LTE2SDE5MmMxNy43IDAgMzItMTQuMyAzMi0zMnMtMTQuMy0zMi0zMi0zMkg4MHoiLz4KPC9zdmc+');
  }
  .blog-post a[rel='nofollow']:focus::after,
  .blog-post a[rel='nofollow']:hover::after {
    @apply scale-100;
  }

  .blog-post .reading-time {
    @apply m-0 inline-block text-sm text-gray-600 dark:text-gray-400;
  }
  .blog-post .reading-time::before {
    @apply mr-1 opacity-50 transition-opacity duration-700 group-hover:opacity-100;
    content: '⌚';
  }

  /*Fancy HR*/
  .fancy {
    @apply bg-purple-500 dark:bg-purple-300;
    border: 0;
    height: 1px;
    margin: 30px auto;
    overflow: visible;
    position: relative;
    width: 16vw;
  }

  .fancy::before {
    @apply border-2 border-solid border-purple-500 bg-purple-500 dark:border-purple-300 dark:bg-purple-300;
    content: '';
    display: inline-block;
    height: 9px;
    left: 50%;
    margin: 0 0 0 -3px;
    position: absolute;
    top: -4px;
    transform: rotate(45deg);
    width: 9px;
  }
}

/*GLOBAL*/
strong {
  @apply font-semibold;
}
