node_modules

.cache
.env
.vercel
.output

/dist/
/node_modules/
/build/
/public/build
/public/entry.worker.js
/public/sw.js
/public/shared.css
/shared.css
/api/index.js
/api/index.js.map
/api/_assets

.DS_Store
/test-results/
/playwright-report/
/playwright/.cache/
.env*.local
